vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|08 Dec 2005 16:49:11 -0000
vti_extenderversion:SR|5.0.2.6738
vti_cacheddtm:TX|08 Dec 2005 16:49:11 -0000
vti_filesize:IR|1228
vti_cachedlinkinfo:VX|S|ToolbarBackground.gif
vti_cachedsvcrellinks:VX|FSUS|jsObjects/jsObjects/jsUI-Calendar/ToolbarBackground.gif
vti_lineageid:SR|{DC57846A-DD09-437D-B06C-525EE31DDF4D}
vti_backlinkinfo:VX|
